@use '@/shared/ui/stylesheets/typo';
@use '@/shared/ui/stylesheets/spaces';
@use '@/shared/ui/stylesheets/theme';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: var(--font-size-regular);
  background: var(--color-bg-primary);
  color: var(--color-light);
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  gap: var(--space-xm);
  padding: 0 var(--space-xm);
  max-width: 1400px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
