* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
}

body {
  font-size: 1rem;
  font-family: 'Montserrat', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  background: #282828;
  color: #ffffff;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
