.main {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: var(--space-xm);
  padding: var(--space-m) 0;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: var(--space-xl);
}

.list {
  flex: 1;
}

.loader {
  z-index: 99;
}
