.main {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xm);
}

.container {
  position: relative;
  display: flex;
  flex: 1;
  padding: var(--space-xs) 0;
  gap: var(--space-xm);
}

.loader {
  z-index: 99;
}
