.card {
  display: flex;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #4a4a4a;
  cursor: pointer;
  overflow: hidden;
  transition: border 0.2s;

  &:hover {
    border: 1px solid #696969;

    .title {
      color: #ffffff;
    }

    .image {
      opacity: 1;
    }
  }
}

.image {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  aspect-ratio: 1/1;
  opacity: 0.85;
  transition: opacity 0.2s;
}

.description,
.title {
  transition: 0.2s color;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  text-align: left;
}

.title {
  font-weight: 500;
  color: #c3c3c3;
}

.description {
  font-weight: 400;
  color: #b76767;
  text-transform: capitalize;
  text-align: right;
}
