.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  grid-auto-rows: 80px;
  height: 100%;
  justify-content: space-between;
  position: relative;
  gap: var(--space-xm);
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 490px;
}
