.label {
  position: relative;
  min-width: 50px;
  height: 50px;
  border-radius: 30px;
  opacity: 0.85;
  cursor: pointer;
  transition: opacity var(--transition);

  &:hover {
    opacity: 1;
  }

  &::before {
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
    background-image: url('/icons/sun.svg');
    transition: background var(--transition);
  }

  &:has(.input:checked) {
    &::before {
      background-color: var(--color-mark);
    }
  }

  &:has(.input:not(:checked)) {
    & {
      background-color: var(--color-accent);
    }

    &::before {
      background-image: url('/icons/moon.svg');
    }
  }
}

.input {
  display: none;
}
