.card {
  display: flex;
  gap: var(--space-s);
  border-radius: var(--space-s);
  border: 1px solid var(--color-dark-20);
  overflow: hidden;
  transition: border 0.2s;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--color-dark-30);

    .title {
      color: var(--color-light);
    }

    .image {
      opacity: 1;
    }
  }
}

.active {
  border: 1px solid var(--color-accent);

  &:hover {
    border: 1px solid var(--color-accent-secondary);
  }
}

.image {
  width: 80px;
  height: 80px;
  border-radius: var(--space-s);
  aspect-ratio: 1 / 1;
  opacity: 0.85;
  transition: opacity var(--transition);
}

.description,
.title {
  transition: color var(--transition);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: var(--space-s);
  text-align: left;
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  font-weight: var(--font-weight-medium);
  color: #c3c3c3;
  overflow: hidden;
}

.description {
  font-weight: var(--font-weight-regular);
  color: var(--color-mark);
  text-transform: capitalize;
  text-align: right;
}

.dead {
  color: var(--color-mark);
}

.alive {
  color: var(--color-mark-secondary);
}

.unknown {
  color: var(--color-mark-third);
}
