.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  max-width: fit-content;
  outline: none;
  padding: 0 var(--space-xm);
  background: transparent;
  text-transform: capitalize;
  border-radius: var(--space-s);
  font-weight: var(--font-weight-medium);
  color: var(--color-dark-70);
  transition:
    background var(--transition),
    color var(--transition),
    border var(--transition);
  cursor: pointer;
}

.danger {
  border: 1px solid var(--color-mark);

  &:hover {
    background: var(--color-mark);
    color: var(--color-light);
  }
}

.primary {
  border: 1px solid var(--color-dark-70);

  &:hover {
    background: var(--color-bg-secondary);
    color: var(--color-dark);
  }
}

.secondary {
  border: 1px solid var(--color-dark-70);

  &:hover {
    background: var(--color-dark-70);
    color: var(--color-light);
  }
}

.active {
  pointer-events: none;
  user-select: none;
  background: var(--color-accent);
  border: 1px solid var(--color-accent);
  color: var(--color-dark);
}

.btn:disabled:not(.active) {
  pointer-events: none;
  user-select: none;
  background-color: var(--color-dark-30);
  border: 1px solid var(--color-dark-30);
}
