.input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  padding: var(--space-s) var(--space-xm);
  font-size: var(--font-size-large);
  text-align: center;
  color: var(--color-dark-70);
  font-weight: var(--font-weight-medium);
  border-bottom: 1px solid var(--color-dark-70);
  transition:
    color var(--transition),
    border var(--transition);

  &:focus {
    border-bottom: 1px solid var(--color-light);
    color: var(--color-light);
  }

  &::placeholder {
    color: var(--color-dark-70);
  }
}
