.flyout {
  position: fixed;
  display: grid;
  place-content: center;
  gap: var(--space-m);
  left: 10px;
  bottom: 10px;
  padding: 10px;
  background: var(--color-bg);
  border: 1px solid var(--color-dark-20);
  color: var(--color-light);
  backdrop-filter: blur(5px);
  border-radius: var(--space-s);
  transition: border var(--transition);
  z-index: 2;

  &:hover {
    border: 1px solid var(--color-dark-30);
  }
}

.link {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

.title {
  text-align: center;
}

.controls {
  display: flex;
  gap: var(--space-s);
  justify-content: space-between;
}

.btn {
  padding: var(--space-s);
  height: fit-content;

  &:first-child {
    position: relative;
  }
}
