.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 700px;
  height: 100%;
  width: 100%;
  max-width: 380px;
  border: 1px solid var(--color-dark-20);
  border-radius: var(--space-s);
  overflow: hidden;
}

.btn {
  font-size: 40px;
  max-width: 100%;
  width: 100%;
  border: 1px solid var(--color-dark-20);
  color: var(--color-mark);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: var(--space-s);
    border: 1px solid var(--color-dark-20);
    text-align: left;
    text-transform: capitalize;
  }

  th {
    width: 90px;
    font-weight: var(--font-weight-medium);
  }
}

.image {
  max-height: 380px;
  max-width: 380px;
  width: 100%;
  height: 100%;
}
